/* 노말라이즈 */
body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

.carousel-1 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item {
    height:600px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.carousel-1 > .owl-carousel > .owl-nav {
    margin:0 !important;
}

.carousel-1 > .owl-carousel > .owl-nav > div {
    padding:0;
    margin:0 20px;
    border-radius:0;
    background-color:transparent;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    font-size:4rem;
}

.carousel-1 > .owl-carousel > .owl-nav > div.owl-next {
    left:auto;
    right:0;
}

.carousel-1 > .owl-carousel > .owl-dots {
    padding:0;
    margin:20px 0 0 0;
}

.carousel-1[data-carousel-1-autoplay-status="Y"] .play {
    display:none;
}

.carousel-1[data-carousel-1-autoplay-status="N"] .stop {
    display:none;
}