@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.tos-box {
  position: relative;
  top: 150px;
  padding-bottom: 200px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

div {
  margin-top: 5px;
}

details {
  position: relative;
  border: 1px solid #454545;
  padding: 0.5em 0.5em 0;
  width: 700px;
}

summary {
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #454545;
  margin: 0em 0.2em 0;
  padding: 0.5em;
  height: 35px;
}

details[open] {
  outline: none;
  padding: 0.5em;
  height: 210px;
  margin-bottom: 45px;
}

details[open] summary {
  margin-bottom: 0em;
}

details[open] .checkbox-style {
  top: 233px;
}

.checkbox-style {
  position: absolute;
  top: 22px;
  right: 15px;
  font-weight: normal;
}

span {
  font-size: 14px;
}

textarea {
  position: absolute;
  top: 50px;
  width: 700px;
  height: 160px;
  border: none;
  resize: none;
  background-color: #ffffff;
  scale: 97%;
}

::-webkit-scrollbar {
  display: none;
}


button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 718px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background: #000000;
  color: #ffffff; 
}
button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
:root {
  --button-color: #000000;
  --button-bg-color: #000000;
  --button-hover-bg-color: #505050;
}
.signup-btn {
  position: absolute;
  top: 50px;
  right: -16px;
}