@import "bourbon";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {

}
.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 510px;
  height: 300px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: #ffffff;
}
.signup-success-msg1 {
  position: absolute;
  top: 80px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 37px;
  color: #000000;
}
.signup-success-msg2 {
  position: absolute;
  top: 140px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #000000;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.LookSt-Logo {
  position: absolute;
  top: -15px;
  width: 43%;
  height: 43%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 370px;
  height: 55px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background: #000000;
  color: #ffffff; 
}
button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
:root {
  --button-color: #000000;
  --button-bg-color: #000000;
  --button-hover-bg-color: #505050;
}
.seller-reg {
  position: absolute;
  top: 197px;
}