/* 노멀라이즈 */
body, ul, li {
    padding:0;
    margin:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

body, html {
    overflow-x:hidden;
}

/* 라이브러리 */

.con_3 {
    margin-top: 1cm;
    margin-bottom: 20cm;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

.img-box > img {
    width:100%;
    height: 316px;
    display:block;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.row::after {
    margin-bottom: 5cm;
    display:block;
    content:"";
    clear:both;
}

/* 커스텀 */

.logo-bar {
    text-align:center;
    margin-top:20px;
}

.con_3 {
    max-width:1000px;
}

.top-bn-box {
    margin-top:20px;
}

.list-box-1 > .row {
    margin:0 -10px;
}

.list-box-1 > .row > .cell {
    width:20%;
    padding:0 10px;
    margin-top:20px;
}

@media(min-width:901px) {
    .list-box-1 > .row > .cell {
        width:20%;
    }
}

@media(max-width:900px) and (min-width:701px) {
    .list-box-1 > .row > .cell {
        width:25%;
    }
}

@media(max-width:700px) and (min-width:501px) {
    .list-box-1 > .row > .cell {
        width:33.333%;
    }
}

@media(max-width:500px) and (min-width:301px) {
    .con_3{
        margin-top: 0cm;
        margin-bottom: 3cm;
    }
    .list-box-1 > .row > .cell {
        width:50%;
    }
}

@media(max-width:300px) {
    .list-box-1 > .row > .cell {
        width:100%;
    }
}

.list-box-1 > .row > .cell > .prod-name,.list-box-1 > .row > .cell > .prod-price {
    text-align:center;
    font-weight:bold;
    font-size:0.9rem;
    margin-top:10px;
}

.list-box-1 > .row > .cell > .prod-price {
    font-size:1.5rem;
    margin-top:5px;
}

.list-box-1 > .row > .cell:hover > .prod-name {
    text-decoration:underline;
}

.list-box-1 > .row > .cell > .prod-price::after {
    content:"원";
    font-size:0.9rem;
}

.list-box-1 .cell > .img-box {
    overflow:hidden;
}

.list-box-1 .cell > .img-box > img {
    transition:transform 3s;
}

.list-box-1 .cell:hover > .img-box > img {
    transform: scale(1.25);
}

.list-box-1 .cell > .img-box >.dielivery-free > span::after {
    content:"무료배송";
    font-size:0.8rem;
}



.list-box-1 .cell > .img-box >.dielivery-free > span {
    display:inline-block;
}