.Upload-title{
  margin: 30px auto;
  background-color: #000;
  color: #fff;
  width: 150px;
  font-size: 25px;
  padding: 1%;
  border-radius: 50%;
}
.main {
    background-color: white;
  }
  /* ul li a {
    color: #262626;
  } */
  .setting-container {
    background-color: #fff;
  }
  /* .setting-container .setting__menu ul li a.active {
    border-left: 2px solid #262626;
  } */
  .setting-container {
    width: 900px;
    margin: auto;
    border: 1px solid gainsboro;
    margin-top: 30px;
    border-radius: 4px;
    /* text-align: center; */
}
  /* .setting-container .setting__menu {
    width: 237px;
  }
  .setting-container .setting__menu ul li a {
    display: inline-block;
    padding: 16px 16px 16px 30px;
  } */
  .setting-container .setting__content {
    border-left: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
  }
  .setting-container .setting__content {
    display: flex;
  }
  .setting-container .setting__content div .item__title {
    text-align: center;
    font-size: 30px;
    width: 80px;
  }
  .setting-container .setting__content div .item__input {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .setting-container .setting__content div .item__input textarea {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 95%;
  }
  /*.setting-container .setting__content .content-item__10 .item__input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .setting-container .setting__content .content-item__10 .item__input span {
    width: 160px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    padding: 0;
  }*/
  .setting-container .setting__content .content-item__11 .item__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    align-items: stretch;
  }
  .setting-container .setting__content .content-item__11 .item__input button {
    border: 0;
    background-color: #000000;
    padding: 13px 18px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
  }
  .setting-container .setting__content .content-item__11 .item__input button:hover{
    background-color: gray;
  }

  
input[type='file'] {
  display: none;
}

.imgupload {
  margin-bottom: 5px;
}

.img-box {
  margin-bottom: 5px;
}

.img-box img {
  width: 100px;
}

.imgupload .imguploadbtn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
}

.imguploadbtn:hover{
  background-color: grey;
}
@media screen and (max-width: 935px) {
  .setting-container {
    width: 100%;
  }
  .Upload-title{
    width: 100px;
    font-size: 14px;
  }
  .preview img{
    width: 100px;
  }
  .setting-container .setting__content {
    padding-left: 20px;
  }
  .setting-container .setting__content > div:not(:first-child) {
    flex-direction: column;
  }
  .setting-container .setting__content div .item__title {
    text-align: center;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .setting-container .setting__content .content-item__01{
    flex: 1;
    text-align: center;
    padding: 0;
  }
  .setting-container .setting__content .content-item__01 {
    flex: 4;
  }
}
  
  .footer {
    margin-top: 150px;
}

/* body {
  background: #efd;
} */
.desc{
  font-size: 14px;
  color: #999;
}
.section {
  margin: auto;
  align-items: center;
}
.article {
  /* border: 1px solid #ccc; */
  /*padding: 20px;*/
  position: relative;
  min-height: 230px;
}
.item {
  display: inline-block;
  position: relative;
  margin: 12px;
  width: 180px;
  height: 180px;
}
.addImg {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.addImg .plus-icon{
  margin: 6px;
  width: 180px;
  height: 180px;
  text-align: center;
  font-size: 20px;
  border: dashed 4px #292c26;
}
.addImg .plus-icon .fa{
  line-height: 180px;
}
.preview,.preBlock{
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  top: 0;
}
.delete {
  width: 22px;
  position: absolute;
  right: -12px;
  top: -12px;
  cursor: pointer;
  display: none;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: #999;
  border-radius: 50%;
}
.preBlock img {
  display: block;
  width: 200px;
  height: 200px;
}
.upload_input{
  display: block;
  width: 0;
  height: 0;
  -webkit-opacity: 0.0;
  /* Netscape and Older than Firefox 0.9 */
  -moz-opacity: 0.0;
  /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
  -khtml-opacity: 0.0;
  /* IE9 + etc...modern browsers */
  opacity: .0;
  /* IE 4-9 */
  filter:alpha(opacity=0);
  /*This works in IE 8 & 9 too*/
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /*IE4-IE9*/
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}