.re_h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #1c1c1c;
  letter-spacing: 0.5px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.bbs-table-list thead th {
  height: 25px;
  color: #9d9d9d;
  /* font-size: 12px; */
  border-bottom: 1px solid #e5e5e5;
}

.bbs-table-list thead th,
.bbs-table-list tbody td {
  padding: 6px 0;
}

table {
  font-size: 12px;
  line-height: 1.25;
  color: #777;
  font-family: 'Nanum Gothic', verdana, Dotum, AppleGothic, Helvetica, sans-serif;
}

.bbs-table-list {
  text-align: -webkit-center;
  display: grid;
  border-top: 1px solid #333;
}

fieldset {
  border: none;
  text-align: end;
}

.esosub_s {
  font-style: 10px;
  font-size: 12px;
  line-height: 1.25;
  color: #777;
  font-family: 'Nanum Gothic', verdana, Dotum, AppleGothic, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
  word-break: keep-all;
}

.esosub_s_l {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  color: #1c1c1c;
  letter-spacing: 0.5px;
}

section {
  margin-bottom: 150px;
  padding-bottom: 50px;
}

.page {
  display: flex;
  font-size: 1rem;
  color: #aaa;
  justify-content: center;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: 'Noto Sans KR', serif;
  line-height: 1rem;
  letter-spacing: 0.1px;
}

.page p {
  margin: 0 12px;
  padding: 0 8px;
  line-height: 2rem;
  cursor: pointer;
}

.checkpage {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  border-bottom: 4px solid #e6002d;
}

.bbs-table-list tbody td {
  padding: 6px 0;
}

.bbs-table-list tbody td {
  /* height: 25px; */
  border-bottom: 1px solid #e5e5e5;
}

.tb-center {
  text-align: center;
}

.tb-left #new {
  width: 30px;
}

/* 여기부터! */
.key-wrap {
  display: inline-block;
}

.white_e_s {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: 'Open Sans', verdana, Dotum, AppleGothic, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 3px 12px;
  text-decoration: none;
  vertical-align: middle;
}

.MS_input_txt {
  margin-right: 5px;
  line-height: 20px;
  border: 1px solid #e7e7e7;
  height: 23px;
  vertical-align: middle;
}

[type=checkbox], [type=radio] {
  vertical-align: middle;
}
/* 여기까지 끝! */

.bbs-tit {
  font-size: 9px;
}

.black_e_s {
  background-color: #333333;
  border: 1px solid #1c1c1c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 3px 12px;
  text-decoration: none;
  margin: 50px 0 30px;
  transform: translateX(2700%);
}
