body {
    background-color: white;
}

* {
    box-sizing: border-box;
}
.newOrdcnt {
    position: absolute;
    top: 500px;
    width: 70%;
    place-self: center;
    height: 200px;
   
}

.chart {
    border: 3px solid lightgrey;
    height: 50%;
    justify-content: center;
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    place-self: center;
}

section > h1  {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


section {
    display: flex;
    flex-direction: column;
    background-color: var(--section-background-color);
    height: 100%;
    padding: 5%;
}



#Header{
    
    width:100%; border:1px solid #cccccc; padding: 7px;
    font-size:15px; font-weight:bold; text-align:left;
    place-self: center;
}

#Wrap{
    width:100%; 
    overflow:hidden;
} 
#content{
    width: 50%;
    float:left; border:1px solid #cccccc; 
    height: 180px;
}
#Side_banner{
    width: 50%;
    float:left;  border:1px solid #cccccc; 
    height: 180px;
}

ul {
    list-style-type: none;
}