body {
    background-color: white;
}

.chart {
    border: 3px solid lightgrey;
    height: 50%;
}

section > h1  {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    margin-top: 7%; 
}