@font-face {
  /*font-family: 'MYYeongnamnu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');*/
  font-family: 'Ghanachocolate';
  src: url('../font/Ghanachocolate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: 'Ghanachocolate';
}


/* 노말 */
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.inline-grid {
  font-size:0;
}

.inline-grid > * {
  font-size:1rem;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:top;
}

.border-red {
  border:10px solid red;
}

.border-blue {
  border:10px solid blue;
}

.border-gold {
  border:10px solid gold;
}

.text-center {
  text-align:center;
}

/*.text-right {
  
  text-align:right;
  
}
*/

.block {
  display:block;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-top: 0;
  margin-left:auto;
  margin-right:auto;
}

/* 커스텀 */

.con {
  max-width:1200px;
}


.top-bar {
  background-color:#232323;
  color:white;
}

.top-bar > .con > div:first-child {
  width:240px;
}

.top-bar > .con > div:nth-child(2) {
  width:calc(100% - 240px - 550px);
}

.top-bar > .con > div:last-child {
  width:550px;
}

.top-bar__logo {
  font-weight:bold;
  font-size:1.3rem;
  padding:10px;
}

.top-bar__menu-box-1 > ul > li {
  position:relative;
  z-index: 3;
}

.top-bar__menu-box-1 ul > li > a {
  font-size:1.2rem;
  padding:11px 20px;
  display:block;
  text-align:center;
  white-space:nowrap;
}

.top-bar__menu-box-1 > ul > li > ul > li > a {
  padding:11px 0;
}


.top-bar__menu-box-1 ul > li:hover > a {
  background-color:white;
  color:black;
}

.top-bar__menu-box-1 > ul > li > ul {
  display:none;
  position:absolute;
  background-color:#232323;
  top:100%;
  left:0;
  width:100%;
  box-shadow:0px 7px 5px rgba(0,0,0,0.3);
}

.top-bar__menu-box-1 > ul > li:hover > ul {
  display:block;
}





/* mobile */

.top-bar.mobile {
  display:none;
}

.top-bar.mobile > .con > div:first-child {
  width:180px;
}

.top-bar.mobile > .con > div:nth-child(2) {
  width:calc(100% - 180px - 260px);
}

.top-bar.mobile > .con > div:last-child {
  width:260px;
}




/* 미디어쿼리 */

@media (max-width: 800px) and (min-width: 301px) {
  .top-bar.mobile {
    display:block;
  }
  
  .top-bar.pc {
    display:none;
  }
  .top-bar__menu-box-1 ul > li > a {
    padding:13px 15px;
  }
}

@media (max-width: 300px) {
  .top-bar.mobile {
    display:block;
  }
  
  .top-bar.pc {
    display:none;
  }
  
  .top-bar.mobile > .con > div:last-child {
    display:none;
  }
  .top-bar__menu-box-1 ul > li > a {
    padding:13px 15px;
  }
}
/* .upload_btn button {
  outline: 0;
} */
