<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../css/seller_header.css"/>
    <script src="https://use.fontawesome.com/926fe18a63.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="../../css/seller_orderList.css">
    <link rel="stylesheet" href="../../css/seller_ord_modal.css">
    <link rel="stylesheet" href="../../css/seller_nav.css">
    <script src="../../js/seller_orderList.js"></script>
    <title>seller RefundList</title>
    
</head>

	<!-- 헤더 시작 -->
	<header class="header_start">
		<div class="header_container">
		  <div class="container-mobile">
			<a href="../../html/seller/seller_mySales.html" class="header_mo_logo">LookSt</a>
	
			<button type="button" class="header_mo_hamburger">
			  <span class="fa fa-bars" title="MENU"></span>
			</button>
		  </div>
	
		  <nav class="header_menu">
			<ul>
               <li>
                <a href="../index.html"><i class="fa-solid fa-house"></i></a>
              </li>	
			  <li>
				<a href="../../html/seller/seller_mySales.html"> 나의 매출</a>
			  </li>
			  <li>
				<a href="../../html/seller/seller_prdtList.html">나의 상품</a>
			  </li>
			  <li>
				<a href="../../html/seller/seller_registerPrdt.html">상품 등록</a>
			  </li>
			  <li>
				<a href="#.html">주문</a>
				<ul>
				  <li>
					<a href="../../html/seller/seller_orderList.html">주문 목록</a>
				  </li>
				  <li>
					<a href="../../html/seller/seller_refundList.html"
					  >취소/환불/반품</a
					>
				  </li>
				  <!-- <li><a href="list-c.html">3뎁스</a></li> -->
				</ul>
			  </li>
			</ul>
		  </nav>
		</div>
	  </header>
	  <!-- 헤더 끝 -->

<body>
    <nav th:replace="admin/admin_nav :: navFragment"></nav>
    <section>
        <h1>Refund List</h1>

        <form class= "search-form" id="search-form" method="get" action="#">
            <div class="form-group">
                <label class="form-label">주문일자</label>
                <span>
                    <input type="date" name="firstdate" class="date">&nbsp;~ 
                    <input type="date" name="lastdate" class="date">
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">주문상태</label>
                <span>
                    <select name="omode">
                        <!-- <option value="PAYWAITING" th:selected="${#strings.equals( oModeStatus, 'PAYWAITING' )}">입금대기</option> -->
                        <option value="CANCELRCPT" th:selected="${#strings.equals( oModeStatus, 'CANCELRCPT' )}">취소접수</option>
                        <!-- <option value="CANCELCOM" th:selected="${#strings.equals( oModeStatus, 'CANCELCOM' )}">취소완료</option> -->
                        <option value="INRETURN" th:selected="${#strings.equals( oModeStatus, 'INRETURN' )}">반품처리중</option>
                        <option value="INREFUND" th:selected="${#strings.equals( oModeStatus, 'INREFUND' )}">환불처리중</option>
                        <option value="RETURNCOM" th:selected="${#strings.equals( oModeStatus, 'RETURNCOM' )}">반품완료</option>
                        <option value="REFUNDCOM" th:selected="${#strings.equals( oModeStatus, 'REFUNDCOM' )}">환불완료</option>
                        <!-- <option value="ORDERCANCEL" th:selected="${#strings.equals( oModeStatus, 'ORDERCANCEL' )}">주문취소</option>
                        <option value="ORDERCHANGE" th:selected="${#strings.equals( oModeStatus, 'ORDERCHANGE' )}">교환</option>
                        <option value="ORDERREFUND" th:selected="${#strings.equals( oModeStatus, 'ORDERREFUND' )}">반품</option> -->
                    </select>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">검색어</label>
                <span>
                    <select name="smode">
                        <option value="buyer">구매자명</option>
                    </select>
                    <input type="text" name="sinput" class="search-input">
                </span>
            </div>
            <div class="search-submit-box">
                <input type="submit" class="search-submit" value="검색">
            </div>
        </form>

        <div class="order-box">
            <table class="order-table">
                <thead>
                    <tr>
                        <!-- <th><input type="checkbox" class="checkbox-selectall"></th> -->
                        <th>주문번호</th>
                        <th>구매자</th>
                        <th>요청사유</th>
                        <th>결제금액</th>
                        <th>결제방식</th>
                        <th>주문일자</th>
                        <th>상태</th>
                        <th>변경</th>
                        <th>상세</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orderList}">
                        <!-- <td><input type="checkbox" class="checkbox-select"></td> -->
                        <td th:text = "${order.number}">178789</td>  <!-- 수정 필요 !!!!!!!!!!!!!!!!!!!!!!!!-->
                        <td th:text = "${order.name}">김이름</td>
                        <!-- <td th:text = "${}">예쁜 트렌치코트</td> -->
                        <td th:text = "${}">구매자가 입력한 요청사유</td>
                        <td th:text = "${order.orderPrice}">34000원</td>
                        <td th:text = "${order.payment}">카드결제</td>
                        <td th:text = "${order.orderedAt}">2022-10-17</td>
                        <td>
                            <select name="change-omode" id="change-omode" class="omode">
                                <!-- <option value="whole">전체</option> -->
                                <!-- <option value="PAYWAITING" th:selected="${#strings.equals( order.orderStatus, 'PAYWAITING' )}">입금대기</option> -->
                                <option value="CANCELRCPT" th:selected="${#strings.equals( oModeStatus, 'CANCELRCPT' )}">취소접수</option>
                                <!-- <option value="CANCELCOM" th:selected="${#strings.equals( oModeStatus, 'CANCELCOM' )}">취소완료</option> -->
                                <option value="INRETURN" th:selected="${#strings.equals( oModeStatus, 'INRETURN' )}">반품처리중</option>
                                <option value="INREFUND" th:selected="${#strings.equals( oModeStatus, 'INREFUND' )}">환불처리중</option>
                                <option value="RETURNCOM" th:selected="${#strings.equals( oModeStatus, 'RETURNCOM' )}">반품완료</option>
                                <option value="REFUNDCOM" th:selected="${#strings.equals( oModeStatus, 'REFUNDCOM' )}">환불완료</option>
                                <!-- <option value="ORDERCANCEL" th:selected="${#strings.equals( order.orderStatus, 'ORDERCANCEL' )}">주문취소</option>
                                <option value="ORDERCHANGE" th:selected="${#strings.equals( order.orderStatus, 'ORDERCHANGE' )}">교환</option>
                                <option value="ORDERREFUND" th:selected="${#strings.equals( order.orderStatus, 'ORDERREFUND' )}">반품</option> -->
                            </select>
                        </td>
                        <td>
                            <input type="button" value="변경" class="changestatusbtn">
                        </td>
                        <!-- <input type="hidden" th:value="${order.orderItemId}" value="1"> -->
                        <td>
                            <!-- 첫 번째 Modal을 여는 클래스 -->
                            <button class="btn">상세</button>
                        
                            <!-- 첫 번째 Modal -->
                            <div class="modal">
                        
                            <!-- 첫 번째 Modal의 내용 -->
                            <div class="modal-content">
                                <span class="info">요청 상세 정보</span>
                                <span class="close">&times;</span>                         
                                <div class ="detail-info">
                                    <span>구매자 :</span>
                                    <span text = "${order.name}">김이름</span><br/>
                                    <span>수령주소 :</span><!--수정필요-->
                                    <span text =  "${order.address}">서울시 00구 00동 00-00 00호</span><br/>
                                    <span>전화번호 :</span><!--수정필요-->
                                    <span text =  "${order.phonenumber}">010-1234-1234</span><br/>
                                    <span>주문번호 :</span>
                                    <span text =  "${order.number}">178789</span><br/>
                                    <span>상품번호 :</span>
                                    <span text =  "${product.itemIdx}">1659826</span><br/>
                                    <span>상품명 :</span>
                                    <span text = "${order.itemName}">예쁜 트렌치코트</span><br/>
                                    <span>상품가격 :</span><!--수정필요-->
                                    <span text = "${product.Price}">34000원</span><br/>
                                    <span>구매수량 :</span><!--수정필요-->
                                    <span text =  "${order.number}">2</span><br/>
                                    <span>결제일시 :</span>
                                    <span text = "${order.orderedAt}">2022-10-17</span><br/>
                                    <span>결제수단 :</span><!--수정필요-->
                                    <span text = "${order.payment}">카드결제</span><br/>
                                    <span>환불금액 :</span><!--수정필요-->
                                    <span text =  "${order.orderPrice}">68000원</span><br/>
                                    <span>주문상태 :</span><!--수정필요-->
                                    <span text =  "${order.status}">결제완료</span><br/>
                                    <span>요청상태 :</span><!--수정필요-->
                                    <span text =  "${order.reqstatus}">취소접수</span><br/>
                                    <span>요청사유 :</span><!--수정필요-->
                                    <span text =  "${order.reqreason}">구매자가 입력한 내용</span><br/>
                                </div>      
                            </div>
                            </div>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div class="paginate">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${1 == orderList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/admin/orderList(page=${orderList.pageable.pageNumber - 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}" tabindex="-1" aria-disabled="true">Prev</a>
                    </li>

                    <li class="page-item" th:classappend="${i == orderList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" href="#" th:href="@{/admin/orderList(page=${i - 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}" th:text="${i}">1</a></li>

                    <li class="page-item" th:classappend="${orderList.totalPages == orderList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/admin/orderList(page=${orderList.pageable.pageNumber + 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="../../js/seller_ord_modal.js">
        /*modal.js */
    </script>
</body>
</html>