<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Lookst</title>
  <link rel="stylesheet" href="../../css/headerstyle.css">
  <link rel="stylesheet" type="text/css" href="../customer/header.css">
  <link rel="stylesheet" href="../customer/payment22.css">
</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<header class="top-bar pc">
  <div class="con inline-grid">
    <div>
      <a href="#" class="top-bar__logo block">
        <span>
          <img src="../../img/look.png" alt="look" style ="width: 40px; height: 30px;">
          <i class="fa-solid fa-file-magnifying-glass"></i>
        </span>
        <span>
          LookSt
        </span>
      </a>
    </div>
    <div></div>
    <div class="inline-grid text-right">
      <nav class="top-bar__menu-box-1">
        <ul class="inline-grid">
          <li>
            <a href="#">
              <span><i class="fa-solid fa-house"></i></span>
              <span>HOME</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span><i class="fa-solid fa-user-pen"></i></span>
              <span>SNS</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span><i class="fas fa-shopping-bag"></i></span>
              <span>SHOP</span>
            </a>
            <ul>
              <li>
                <a href="#">
                  <span><i class="fa-solid fa-shirt"></i></span>
                  <span>상의</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fa-solid fa-person-dress"></i></span>
                  <span>하의</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-glasses"></i></span>
                  <span>악세사리</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span><i class="fa-solid fa-folder-open"></i></span>
              <span>게시판</span>
            </a>
            <ul>
              <li>
                <a href="../html/board_list.html">
                  <span><i class="fas fa-chalkboard-teacher"></i></span>
                  <span>종합게시판</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-comments"></i></span>
                  <span>리뷰게시판</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-question"></i></span>
                  <span>FAQ</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<header class="top-bar mobile">
  <div class="con inline-grid">
    <div>
      <a href="#" class="top-bar__logo block">
        <span>
          <img src="../img/look.png" alt="look" style ="width: 40px; height: 30px;">
          <i class="fa-solid fa-file-magnifying-glass"></i>
        </span>
        <span>
          LookSt
        </span>
      </a>
    </div>
    <div></div>
    <div class="inline-grid text-right">
      <nav class="top-bar__menu-box-1">
        <ul class="inline-grid">
          <li>
            <a href="#">
              <span><i class="fa-solid fa-house"></i></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span><i class="fa-solid fa-user-pen"></i></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span><i class="fas fa-shopping-bag"></i></span>
            </a>
            <ul>
              <li>
                <a href="#">
                  <span><i class="fa-solid fa-shirt"></i></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fa-solid fa-person-dress"></i></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-glasses"></i></span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span><i class="fa-solid fa-folder-open"></i></span>
            </a>
            <ul>
              <li>
                <a href="../html/board_list.html">
                  <span><i class="fas fa-chalkboard-teacher"></i></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-comments"></i></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-question"></i></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- partial -->
  
</body>

</html>


<body>
    <section>
        <div class="section_caption">
            ORDER
        </div>
        <div class="section_content">
            <form action="#" th:action="@{/main/payment_ok}" method="post" onsubmit="return sendit()">
            
                <div class="benefit_info">
                    <div class="benefit_info_caption">
                        혜택정보
                    </div>
                    <div class="benefit_info_desc">
                        <div class="benefit_info_desc_item"><b th:text="${member.name}">홍길동</b> 님은 <b sec:authorize="hasRole('ROLE_ADMIN')">[관리자]</b><b sec:authorize="hasRole('ROLE_MEMBER')">[일반회원]</b> 이십니다</div>
                        <div class="benefit_info_mileage benefit_info_desc_item">
                            가용적립금: <b th:text="${#numbers.formatInteger(member.mileage, 0, 'COMMA')}">2,000</b>원
                            <input type="hidden" class="canuse" value="2000" th:value="${member.mileage}"> <!--서버로부터 넘어온 데이터-->
                        </div>
                    </div>
                </div>

                
                <div class="about_order">
                    <i class="fas fa-exclamation"></i> 상품의 옵션 및 수량 변경은 상품상세 또는 장바구니에서 가능합니다.
                </div>
                
                <div class="orderlist">
                    <div class="orderlist_caption">국내배송상품 주문내역</div>
                    <div class="orderlist_content">
                        <table> <!-- 타임리프로 값 넣어주기-->
                            <colgroup>
                                <col width="27px">
                                <col width="92px">
                                <col width="auto">
                                <col width="98px">
                                <col width="75px">
                                <col width="98px">
                                <col width="98px">
                                <col width="85px">
                                <col width="98px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <td><input type="checkbox" class="check_all"></td>
                                    <td>이미지</td>
                                    <td>상품정보</td>
                                    <td>판매가</td>
                                    <td>수량</td>
                                    <td>적립금</td>
                                    <td>배송구분</td>
                                    <td>배송비</td>
                                    <td>합계</td>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr th:each="item:${orderList}">
                                    <td><input type="checkbox" class="check"></td>
                                    <td><img src="img/basket/basket1.JPG" th:src="@{${item.imgUrl}}"></td>
                                    <td>
                                        <div th:text="${item.itemName}">메카닉 패딩 야상점퍼</div>
                                        <div th:text="'[옵션:'+${item.color}+']'">[옵션: 그레이]</div>
                                    </td>
                                    <td><b th:text="'₩'+${#numbers.formatInteger(item.price, 0, 'COMMA')}">₩39,000</b></td>
                                    <td th:text="${item.basketCount}">
                                        7
                                    </td>
                                    <td><span class="order_mileage">390</span>원</td> <!--js 계산. 한 아이템에 대한 총 예상 적립 마일리지-->
                                    <td>기본배송</td>
                                    <td>배송비</td>
                                    <td>
                                        ₩<span class="order_price"></span> <!--js 계산. 한 아이템에 대한 총 가격-->
                                    </td>
                                    <input type="hidden" class="item_idx" value="1" th:value="${item.itemIdx}">
                                    <input type="hidden" class="item_color" value="네이비" th:value="${item.color}">
                                    <input type="hidden" class="item_quantity" value="7" th:value="${item.basketCount}">
                                    <input type="hidden" class="item_price" value="39000" th:value="${item.price}">
                                </tr>
                                
                            </tbody>
                        </table>
                        <div class="bottombtn_box">
                            선택상품을 &nbsp;
                            <button type="button" class="deletebtn bottombtn"><i class="fas fa-times"></i> &nbsp;삭제하기</button>                
                        </div>
                    </div>
                </div>
                <div id="orderform">
                  <!-- 전송 데이터 모음-->
                  <input type='hidden' name="total_price">
                  <input type='hidden' name="tobepaid_price">
                  <input type='hidden' name="orderiteminfo"> <!-- value에 상품idx, color, quantity가 Json형식으로 들어감-->
                  <!-- 전송 데이터 모음-->
                               
                  <div class="delivery_info_caption">
                      <div class="delivery_info_caption_left">배송 정보</div>
                      <div class="delivery_info_caption_right"><span>＊</span> 필수입력사항</div>
                  </div>
                  <table class="delivery_info_table">
                      <colgroup>
                          <col width="120px"/>
                          <col width="auto"/>
                      </colgroup>
                      <tr>
                          <th>배송지 선택</th>
                          <td>
                              <div class="address_choice"> <!-- 타임리프 값 넣어주기-->
                                  <div><input type="radio" name="address_id" value="new_addr" id = "0" checked> <label for="0">새로운 배송지</label></div>
                                  <div th:each="address, i:${addressList}"><input type="radio" name="address_id" value="home" id="2" th:value="${address.id}" th:id="${i.count}">
                                      <label for="2" th:for="${i.count}" th:text="${address.placeName}">우리집</label>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th><label for="address_recipient">받으시는 분<span>＊</span></label></th>
                          <td><input type="text" name="address_recipient" id="address_recipient"></td>
                      </tr>
                      <tr>
                          <!-- vertical align을 맞추기위해 th와 td를 같은 class로 지정-->
                          <th class="adjust_height"><label for="sample6_postcode">주소<span>＊</span></label></th>
                          <td class="adjust_height">
                              <input type="text" id="sample6_postcode" name="zipcode" placeholder="우편번호">
                              <button type="button" onclick="sample6_execDaumPostcode()" id="postbtn"><span>우편번호</span><i class="fas fa-chevron-right"></i></button><br>
                              <input type="text" id="sample6_address" name="city" placeholder="주소" class="address_margin"> 기본주소<br>
                              <input type="text" id="sample6_detailAddress" name="street" placeholder="상세주소" class="address_margin"> 나머지주소
                          </td>
                      </tr>
                      <tr>
                          <th><label for="address_home_number">일반전화<span>＊</span></label></th>
                          <td>
                              <select name="addressHomePhoneNumber[]" id="address_home_number" class="address_home_number">
                                  <option value="02">02</option>
                                  <option value="031">031</option>
                                  <option value="032">032</option>
                                  <option value="033">033</option>
                                  <option value="041">041</option>
                                  <option value="042">042</option>
                                  <option value="043">043</option>
                                  <option value="044">044</option>
                                  <option value="051">051</option>
                                  <option value="052">052</option>
                                  <option value="053">053</option>
                                  <option value="054">054</option>
                                  <option value="055">055</option>
                              </select>
                              -
                              <input type="text" name="addressHomePhoneNumber[]" class="address_home_number">
                              -
                              <input type="text" name="addressHomePhoneNumber[]" class="address_home_number">
                          </td>
                      </tr>
                      <tr>
                          <th><label for="address_phone_number">휴대전화<span>＊</span></label></th>
                          <td>
                              <select name="addressPhoneNumber[]" id="address_phone_number" class="address_phone_number">
                                  <option value="010">010</option>
                                  <option value="011">011</option>
                                  <option value="016">016</option>
                                  <option value="017">017</option>
                                  <option value="018">018</option>
                                  <option value="019">019</option>
                              </select>
                              -
                              <input type="text" name="addressPhoneNumber[]" class="address_phone_number">
                              -
                              <input type="text" name="addressPhoneNumber[]" class="address_phone_number">
                          </td>
                      </tr>
                  </table>
                  
                  <div class="payment_caption">
                      결제 예정 금액
                  </div>
                  <table class="payment_table">
                      <tr>
                          <th>총 주문 금액</th>
                          <th>총 할인 금액</th>
                          <th>결제 예정 금액</th>
                      </tr>
                      <tr>
                          <td>₩<span id="total"></span></td>
                          <td>- ₩<span id="discounted">0</span></td>
                          <td>= ₩<span id="tobepaid"></span></td>
                      </tr>
                  </table>
                  <table class="mileage_table">
                      <colgroup>
                          <col width="120px"/>
                          <col width="auto"/>
                      </colgroup>
                      <th>적립금</th>
                      <td>
                          <input type="text" name="used_mileage" value="0"> 원 (총 사용가능 적립금 : <span th:text="${#numbers.formatInteger(member.mileage, 0, 'COMMA')}">2,000</span>원) <!-- 티임리프로 데이터 넣어주기-->
                          <br>
                          <br>
                          - 적립금은 최소 2,000 이상일 떄 결제가 가능합니다.<br>
                          - 최대 사용금액은 제한이 없습니다.<br>
                          - 적립금으로만 결제할 경우, 결제금액이 0으로 보여지는 것은 정상이며 [결제하기] 버튼을 누르면 주문이 완료됩니다.
                          <br>
                          <br>
                      </td>
                  </table>
                  <div class="payment_submit">
                      <input type="submit" value="결제하기">
                  </div>
              </div>
          </form>           
      </div>
  </section>

</body>



